------------Netbeans-------------------
# Candy Crush
/CandyCrush/build/
/CandyCrush/dist/
/CandyCrush/nbproject/
/CandyCrush/build.xml
/CandyCrush/manifest.mf
------------Repl-----------------------
*.class
Main.java